extends shared/_layout

block stylesheets
    link(rel="stylesheet" href="/stylesheets/notfound.css")


block content
    section.center(style="height: 60vh")
      article
        h1.header 404
        p.error ERROR
      article
        img(src="http://i62.tinypic.com/vovg1x.png" alt="Funny Face")