extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/messaging.css")

block content
  if isAuthorized
    #chat-wrapper.col-sm-12.col-xs-12.col-md-6.col-lg-6.col-centered
      h2.capitalize Messenger
      div.chat
        div.chat-messages
        textarea.chat-textarea(placeholder="Type your message")
        div.chat-status
          span Connected
      div.online-users
        span Pesho

block javascript
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/messaging.js")