doctype
html
    head
        title Home
        link(href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
        link(href="/stylesheets/main.css" rel="stylesheet")
    body
        .container
            block content
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")