extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/bower_components/toastr/toastr.css")


block content
  #login-form
    div.input-group
      span.input-group-addon#basic-addon1 @
      input.form-control#username-tb(type="text" placeholder="Username" aria-describedby="basic-addon1")
    div.input-group
      span.input-group-addon#basic-addon2 @
      input.form-control#password-tb(type="password" placeholder="Password" aria-describedby="basic-addon2")
    button#btn-submit.btn.btn-success(type="button") Submit
    
block javascript
  script(src="javascripts/login.js")
  script(src="bower_components/crypto-js/crypto-js.js")
  script(src="bower_components/toastr/toastr.js")
  
  