extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/bower_components/toastr/toastr.css")
  link(rel="stylesheet" href="/stylesheets/login.css")

block content
  #login-form
    div.panel.panel-default.col-lg-6.col-lg-offset-3
      div.panel-heading.text-center
        h3 Sign In
      div.panel-body
        div.row         
          input.form-control.text-center#username-tb(type="text" name="username" placeholder="Username")
        div.row        
          input.form-control.text-center#password-tb(type="password" name="password" placeholder="Password")
        div.row
          button.col-sm-12.btn.btn-default#btn-submit(type="button") Sign In
      div.form-footer
        span Don't have an account?
        a(href="/account/register") Sign Up
    
block javascript
  script(src="/javascripts/login.js")
  script(src="/bower_components/crypto-js/crypto-js.js")
  script(src="/bower_components/toastr/toastr.js")
  
  