extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/organizations.css")

block content
  section.well#create-organization
    form.col-xs-6.col-xs-offset-3(method="POST" action="/organizations/create")
      div.row
        input.text-center.form-control(type="text" name="name" placeholder="Organization name")
      div.row
        input.text-center.form-control(type="text" name="image" placeholder="Organization Image URL")
      div.row
        button.btn.btn-success.form-control(type="submit") Create Organization
