extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/organizations.css")

block content
  section.well#create-organization
    form(method="POST" action="/organizations/create")
      input(type="text" name="name" placeholder="Organization name")
      input(type="text" name="image" placeholder="Organization Image URL")
      button.btn.btn-success(type="submit") Create Organization
