extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/organizations.css")

block content
  #wrapper
    section.well#create-organization
        div.row
          input.text-center.form-control#tb-organization-name(type="text" name="name" placeholder="Organization name")
        div.row
          input.text-center.form-control#tb-organization-image(type="text" name="image" placeholder="Organization Image URL")
        div.row
          button.btn.btn-success.form-control#btn-submit(type="submit") Create Organization

block javascript
  script(src="/bower_components/validator-js/validator.js")
  script(src="/bower_components/toastr/toastr.js")
  script(src="/javascripts/create-organization.js")
