extends ../shared/_layout

block content
  div.well#organization-details
    div.panel.panel-primary
      div.panel-heading
        h1= result.organization.name
        h1= result.organization.owner   

      div.panel-footer
        if !result.isMember
          a.btn.btn-success(href= "/organizations/" + result.organization._id + "/apply")
            p Apply to this organization
        if result.isMember
          a.btn.btn-success(href= "/organizations/" + result.organization._id + "/employees") 
            p View Employees
          a.btn.btn-success(href= "/organizations/" + result.organization._id + "/projects") 
            p View Projects
          if result.organization.applications.length > 0
            a.btn.btn-success(href= "/organizations/" + result.organization._id + "/applications") 
              p= "View Applications (" + result.organization.applications.length + ")" 
