extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/organizations.css")

block content
  section#organizations
    if isAuthenticated
      div.well.text-center#create-new-organization
        a.btn.btn-success(href="/organizations/create")
          p Create a new organization
    
    div.well
      if result.organizations.length > 0
        ul.list-group#organizations
          each organization in result.organizations
            li.list-group-item
              a(href= "/organizations/" + organization._id)
                p= organization.name
      else
        p No organizations have been created yet.
        if !isAuthenticated
          a.btn.btn-success(href="/account/login") Login to create an organization
    
    if result.pagination.active
      div.well.text-center
        nav(aria-label="navigation")
          ul.pagination
            if result.pagination.previous.active
              li
                a(href= "/organizations?page=" + result.pagination.previous.value + "&size=" + result.pagination.pageSize aria-label="Previous")
                  span(aria-hidden="true") &laquo; Previous page
            if result.pagination.next.active
              li
                a(href= "/organizations?page=" + result.pagination.next.value + "&size=" + result.pagination.pageSize aria-label="Next")
                  span(aria-hidden="true") Next page &raquo;