extends ../shared/_layout

block content
  #wrapper(style="min-height: 60vh; margin: 5vh 0; text-align: center;")
    if !result.data.length
      h3 No organizations found.
    else
      h3 Organizations
        each org in result.data
          img(src=org.image)
          h4 Organization name: #{org.name}