extends ../shared/_layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Create new project

        form(method='POST' action='/addproject')
          div.form-group
            label(for='name') Name:
            input.form-control#projectname(type='text', placeholder='project name' name='name')
          div.form-group
            label(for='description') Description:
            input.form-control#projectdescription(type='text', placeholder='project description' name='description')
          div.form-group
            label(for='managerName') Manager of this project:
            input.form-control#projectmanagername(type='text' name='managerName')
          div.form-group
            label(for='employees') Employees:
            input.form-control#projectemployees(type='text' name='employees')
          div.form-group
            label(for='tasks') Tasks:
            input.form-control#projecttasks(type='text' name='tasks')
          button.btn.btn-primary(type='submit') Submit