extends ../shared/_layout

block content
  if currentUser
        h3.display-4.m-b-2 Create new project
        form(method='POST' action='/projects/create')
            label(for='name') Name:
            input.form-control#projectname(type='text', name='name')
            label(for='description') Description:
            input.form-control#projectdescription(type='text', name='description')
            label(for='devSkills') Developper skills required:
            input.form-control#devskills(type='text', name='devSkills')
            label(for='managerName') Manager of this project:
            input.form-control#projectmanagername(type='text' name='managerName')
            label(for='employees') Employees:
            input.form-control#projectemployees(type='text' name='employees')
            label(for='tasks') Tasks:
            input.form-control#projecttasks(type='text' name='tasks')
            button.btn.btn-primary(type='submit') Submit
  else
    .row
      .col-md-6.col-md-offset-3
        h3.red You should be Logged in to create a project!
          a.btn.btn-default.btn-lg(href="/account/login" style="margin-right: 10px") Sign In    