extends ../shared/_layout

block content
  if currentUser
    #wrapper(style="text-align: center; margin: 5vh 0")
      .panel.panel-default.col-lg-6.col-lg-offset-3
        .panel-heading.text-center
          .panel-header
            h3.display-4.m-b-2 Create Project
          .panel-body
            form(method='POST' action='/projects/create')
                label(for='name') Name:
                input.form-control#projectname(type='text' name='name' minlength=6 maxlength=50 pattern= '[A-z0-9 ]+' title='Latin letters and digits only allowed' required)
                label(for='description') Description:
                input.form-control#projectdescription(type='text' name='description' minlength=6 maxlength=50 pattern= '[A-z0-9 ]+' title='Latin letters and digits only allowed' required)
                label(for='devSkills') Developper skills required:
                input.form-control#devskills(type='text' name='devSkills' minlength=6 maxlength=50 pattern= '[A-z0-9 ]+' title='Latin letters and digits only allowed')
                label(for='managerName') Manager of this project:
                input.form-control#projectmanagername(type='text' name='managerName' minlength=6 maxlength=50 pattern= '[A-z0-9 ]+' title='Latin letters and digits only allowed')
                label(for='employees') Employees:
                input.form-control#projectemployees(type='text' name='employees' minlength=6 maxlength=50 pattern= '[A-z0-9 ]+' title='Latin letters and digits only allowed')
                label(for='tasks') Tasks:
                input.form-control#projecttasks(type='text' name='tasks' minlength=6 maxlength=50 pattern= '[A-z0-9 ]+' title='Latin letters and digits only allowed')
                input(type='hidden' name='privacy' value='public')
                input(type='hidden' name='owner' value= result.user.username)
                button.btn.btn-success(type='submit') Submit
  else
    .row
      .col-md-6.col-md-offset-3
        h3.red You should be Logged in to create a project!
          a.btn.btn-default.btn-lg(href="/account/login" style="margin-right: 10px") Sign In    