extends ../shared/_layout

block content
  if !result.data.length
    h3 No projects found.
  else
    h3 My projects
      each pr in result.data
        if pr.privacy === 'public' && result.user.username === pr.owner
          div.well.text-center
            h4 Project name: #{pr.name}
            h4 Required skills: #{pr.devSkills}
            p Project description: #{pr.description}
            if result.user
              form(method='POST' action="/projects/"+pr.name)
                input(type='hidden' name='applyer' value=result.user.username)
                button.btn.btn-primary(type='submit') Apply