extends ../shared/_layout

block content
  #wrapper(style="min-height: 60vh; margin: 5vh 0; text-align: center;")
    if !result.data.length
      h2 No projects found.
    else
      h2 All Public Projects
        each pr in result.data
          if pr.privacy === 'public'
            div.well.text-center
              h4(style="font-size: 3rem") Name: #{pr.name}
              span(style="font-size: 3rem; font-weight: normal; display: block") Required Skills: #{pr.devSkills}
              span(style="font-size: 3rem; font-weight: normal; display: block") Description: #{pr.description}
              if result.user
                if pr.owner !== result.user.username
                  if !pr.applyers.some(a=>a===result.user.username)
                    form(method='POST' action="/projects/aplyers/"+pr.name)
                      input(type='hidden' name='applyer' value=result.user.username)
                      button.btn.btn-success(type='submit') Apply
                  else
                    span Your apllication was sent!