extends ../shared/_layout

block content
  #wrapper
    if !result.data.length
      h3 There aren't any projects to show
    else
      h3 Public Projects
      each pr in result.data
        if pr.privacy === 'public'
          div.well.text-center
            h4.white-background #{pr.name}
            if pr.description
              span #{pr.description}
            if pr.devSkills[0]
              span.white-background #{pr.devSkills}
            if result.user
              if pr.owner !== result.user.username
                if !pr.applyers.some(a=>a===result.user.username) && !pr.employees.some(e=>e.employeeName===result.user.username)
                  form(method='POST' action="/projects/aplyers/"+pr.name)
                    input(type='hidden' name='applyer' value=result.user.username)
                    hr
                    button.btn.btn-success(type='submit') Apply
                else
                  if !pr.employees.some(e=>e.employeeName===result.user.username)
                    hr
                    span Your apllication was sent!
                  else
                    hr
                    span You are already accepted in this project!

  style(type="text/css").
    #wrapper {
      min-height: 60vh;
      margin: 5vh 0;
      text-align: center;
    }
    #wrapper h4 {
      margin-top: 0;
      font-size: 2.5rem;
    }
    #wrapper span {
      font-size: 1.6rem;
      font-weight: normal;
      display: block;
      margin-bottom: 1rem;
    }
    .white-background {
      background-color: #fff;
      border: 1px solid #ccc;
    }