extends ../shared/_layout

block content
  if !data.length
    h3 No projects found.
  else
    h3 All public projects
      each pr in data
        if pr.privacy === 'public'
          h4 Project name: #{pr.name}
          h4 Required skills: #{pr.devSkills}
          p Project description: #{pr.description}
          if result.user
            form(method='POST' action="/projects/"+pr.name)
              input(type='hidden' name='applyer' value=result.user.username)
              button.btn.btn-primary(type='submit') Apply