extends ../shared/_layout

block content
  #successful-message-wrapper(style="height: 60vh; text-align: center; display: flex; align-items: center; justify-content: center")
    .message
      h1  Project "#{name}" created succesfully!
      a.btn.btn-default(type='text' href='/') Go Back