extends ../shared/_layout

block content
  #successful-message-wrapper
    .message
      h3  Project "#{name}" was created succesfully!
      a.btn.btn-default(href="/") Go Home
      a.btn.btn-primary(href="javascript:history.back()") Go Back

  style(type="text/css").
    #successful-message-wrapper {
      min-height: 60vh;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }