extends ../shared/_layout

block content

  h3 Web developer projects:
  each pr in data
    h4 Project name: #{pr.name}
    h4 Required skills: #{pr.devSkills}
    p Project description: #{pr.description}
    a.btn.btn-primary(type='text' href='/') Apply