#login-form {
    text-align: center;
    height: 60vh;
    margin-top: 10vh;
}

#login-form .form-footer>span {
    margin-right: 10px;
}

#login-form .form-footer>a {
    color: #0056A7;
    display: block;
}

@media screen and (max-device-width: 770px) {
    #login-form .form-footer>a {
        display: block;
    }
}