* {
    margin: 0;
    padding: 0;
}

html,
body,
.container {
    height: 100%;
}

body {
    /*background-image: url('../assets/images/background-patterns/cubes.png');*/
    background-image: url('../assets/images/background-patterns/white_brick_wall.png');
    background-repeat: repeat;
    background-color: #FFF;
    height: auto!important;
}

#header img.navbar-logo {
    height: 120%;
}