ul {
    list-style-type: none;
}

#profile>h2 {
    margin-bottom: 0;
}

#profile>a.btn {
    margin-top: 0;
}

#profile .rates {
    margin: 0;
    float: right;
}

#profile .rates span {
    color: #fff;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.profile-header-top {
    display: inline-block;
}

.profile-header-top>h3 {
    margin-top: 0;
}

.container-header {
    font-weight: 900;
}

.profile-header>.overview {
    text-align: justify;
}

.profile-container {
    position: relative;
    border: 3px solid #ccc;
    background-color: #fff;
    padding: 2em;
    margin-bottom: 2em;
    overflow: hidden;
    box-sizing: border-box;
}

.profile-header img {
    height: 150px;
}

.profile-header ul.skills li.skill {
    display: inline-block;
}

ul.portfolio {
    list-style-type: none;
}

li.skill span.endorsement-points {
    font-size: 2rem;
    margin-right: .5em;
}

li.skill span.skill-name {
    font-size: 2rem;
}

#profile a.add-skill-btn {
    border-radius: 15px;
    background-color: #EEEEEE;
    color: #666666;
    margin-bottom: -2.5em;
}

#profile a.submit-skill-btn {
    border-radius: 15px;
    margin-bottom: -2.5em;
}

#profile a.edit-profile-btn {
    width: 100%;
}