.capitalize {
  text-transform: capitalize;
}

#settings-container {
  height: 60vh;
  text-align: center;
  margin: 5em 0;
}

#settings-container label {
  margin-right: 5px;
}

#settings-container label::after {
  content: ": ";
}
