extends ../../shared/_layout

block content
  div.jumbotron.col-xs-6.col-xs-offset-3
    form(method="POST" action= "/organizations/" + organizationId + "/projects/create")
      div.row
        input.form-control(type="text" name="name" placeholder="Project name")
      div.row
        input.form-control(type="text" name="description" placeholder="Project description")
      div.row
        button.form-control.btn.btn-success(type="submit") Create Project

    