extends ../../shared/_layout

block content
  #wrapper
    h3 Project Details
    div.well.jumbotron
      h3= result.project.name
      hr
      p= result.project.description

  style(type="text/css").
    #wrapper {
      text-align: center;
      min-height: 60vh;
      margin: 5vh 0;
    }