extends ../../shared/_layout

block content
  div#organization-projects
    h2= result.organization.name
    
    section.well#projects
      if result.organization.projects.length > 0
        ul.list-group
          each project in result.organization.projects
            li.list-group-item
              heading
                h3= project.name
              a.btn.btn-primary(href="/organizations/" + result.organization._id + "/projects/" + project.projectId)
                p Project Details
              a.btn.btn-primary(href="/organizations/" + result.organization._id + "/projects/" + project.projectId + "/employees")
                p Manage Employees
              a.btn.btn-primary(href="/organizations/" + result.organization._id + "/projects/" + project.projectId + "/tasks")
                p Manage Tasks
              a.btn.btn-danger(href="/organizations/" + result.organization._id + "/projects/delete/" + project.projectId)
                p Delete Project
      else 
        p This organization has no active projects.
    
    if result.userRole === 'owner' || result.userRole === 'manager'
      section.well#create
        a.btn.btn-success(href= "/organizations/" + result.organization._id + "/projects/create") 
          p Create Project 