extends ../../shared/_layout

block content
  #wrapper
    div.well
      if result.project.tasks.length > 0
        ul.list-group
          each task in result.project.tasks
            li.list-group-item
              a(href="/organizations/" + result.organizationId + "/projects/" + result.projectId + "/tasks/" + task._id)
                p= task.name
      else
        h3 This project has no active tasks

      if result.isManager
        a.btn.btn-success(href="/organizations/" + result.organizationId + "/projects/" + result.projectId + "/tasks/add")
          | Create Task

  style(type="text/css").
    #wrapper {
      min-height: 60vh;
      margin: 5vh 0;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
    }