extends ../../shared/_layout

block content
  if result.project.tasks.length > 0
    ul.list-group
      each task in result.project.tasks
        li.list-group-item
          a(href="/organizations/" + result.organizationId + "/projects/" + result.project._id + "/tasks/" + task._id)
            p= task.name
    
  if result.isManager
    a.btn.btn-success(href="/organizations/" + result.organizationId + "/projects/" + result.project._id + "/tasks/add")
      p Create a new task.