extends ../../shared/_layout

block content
  div.well#unassigned-employees
    if result.organization.unassigned.length > 0
      ul.list-group
        each employee in result.organization.unassigned
          li.list-group-item
            p= employee.username
            a.btn.btn-success(href="/organizations/" + result.organization._id + "/projects/" + result.projectId + "/employees/add/" + employee.unassignedId + "/" + result.roleName)
              p= "Assign to " + result.roleName
    else 
      h3 There aren't any unassigned employees
  
  style(type="text/css").
    #unassigned-employees {
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      min-height: 60vh;
      margin: 5vh 0;
    }
    #unassigned-employees li.list-group-item {
      overflow: hidden;
      text-align: center; 
      width: 100%;
    }