* {
    margin: 0;
    padding: 0;
}

html,
.container {
    height: 100%;
}

body {
    background-repeat: repeat;
    background-color: #F9F9F9;
    height: auto!important;
}

a {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

a.btn.btn-primary {
    background-color: #292C2F;
    box-shadow: none;
}

a.btn.btn-primary:hover,
a.btn.btn-primary:active,
a.btn.btn-primary:focus {
    background-color: #292C2F;
    box-shadow: 0 14px 26px -12px rgba(22, 53, 65, .42);
}


/* Return To Top */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.5);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Search Modal */

#search-modal {
    display: none;
    padding-right: 15px;
}

#search-modal .form-group {
    text-align: center;
}


/* Header */

#header a {
    font-size: 1.5rem;
}

#header nav.navbar.navbar-primary {
    margin: 0 !important;
    text-transform: capitalize;
}

#header ul.dropdown-menu {
    text-align: center;
}

#header img.navbar-logo {
    height: 120%;
    margin-right: 1em;
}

#header .header-profile-picture {
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

#header .profile-link {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#header .profile-link>span {
    font-weight: normal;
}

#header li.dropdown {
    text-align: center;
}

#header img.header-profile-picture {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#header a.profile-link {
    padding: 0;
    margin: 0;
}

#header a.profile-link span {
    font-weight: normal;
}

#header a.btn {
    background: none;
}

@media screen and (min-device-width: 770px) {
    #header a.btn {
        text-transform: capitalize;
        border-radius: 15px;
        margin-top: 10px;
    }
    #header a.btn.login-btn,
    #header a.btn.logout-btn {
        margin-right: 10px;
        background-color: #AFD2EF;
        color: #282828;
    }
    #header a.btn.signup-btn {
        background-color: #0056A7;
    }
    #header .nav-btn {
        background: transparent;
        border: none;
        box-shadow: none;
    }
    #header ul.nav.navbar-nav.navbar-left a.btn {
        font-size: 1.8rem;
    }
}

@media screen and (max-device-width: 770px) {
    #header a.btn {
        background-color: transparent;
    }
}


/* Content */

#content .jumbotron {
    text-align: center;
    background-color: transparent;
}

#content .jumbotron h2 {
    margin-bottom: 70px;
}

#content .jumbotron a {
    text-decoration: none;
    cursor: pointer;
    color: #292C2F;
    text-transform: capitalize;
    font-size: 2rem;
}

#content .jumbotron a.btn {
    color: #fff;
    background-color: #0056A7;
}

ul#job-categories {
    margin-bottom: 5em;
}

ul#job-categories li.job-category {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    height: 50%;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 20px 50px;
}

ul#job-categories li.job-category.fin {
    border-right: 1px solid #ccc;
}

ul#job-categories li.job-category.bot {
    border-bottom: 1px solid #ccc;
}

ul#job-categories li.job-category i.material-icons {
    cursor: default;
    display: block;
    margin-bottom: 15px;
    font-size: 7rem;
    color: #0056A7;
}

#content #get-started-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 15em;
    background-color: #FFFFFF;
    color: #292C2F;
    text-align: center;
    padding: 10em 0;
}

#content #get-started-container>a.btn {
    background: none;
    color: #292C2F;
    /*border: 2px solid #292C2F;*/
}

#content h2 {
    font-weight: 900;
    font-size: 4rem;
    display: block;
}

@media screen and (max-device-width: 770px) {
    ul#job-categories li.job-category {
        width: 100%;
        border: 1px solid #ccc;
        border-bottom: none;
    }
    ul#job-categories li.job-category:last-child {
        border-bottom: 1px solid #ccc;
    }
}


/* Footer */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    /*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}