extends ../../shared/_layout

block content
  #wrapper
    if result.users.length
      div.well
        h3 Available Employees
        ul.list-group#available-users
          each user in result.users
            li.list-group-item
              p= user.username
              a.btn.btn-success(href="/organizations/" + result.organizationId + "/add-employee/" + user._id) 
                p Add employee
    else
      h3 There are currently no available employees

  style(type="text/css").
    #wrapper {
      text-align: center;
      min-height: 60vh;
      margin: 5vh 0;
    }