#footer
  footer.footer-distributed
    .footer-left
      a(href="/")
        img(src="/assets/images/favicon.png" style="height:100px")
      p.footer-links
        a(href="/") Home
        |  · 
        a(href="/about") About
        |  · 
        a(href="/contact") Contact
      p.footer-company-name Paycheck &copy; 2016

    .footer-center
      div
        i.fa.fa-map-marker
        p Business Park Sofia
          span Sofia, Bulgaria
      div
        i.fa.fa-phone
        p +359 87 600 9254
      div
        i.fa.fa-envelope
        p
          a(href="mailto:support@paycheck.com") support@paycheck.com
    .footer-right
      p.footer-company-about
        span About the company
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus molestiae, 
        | laboriosam officiis expedita quas repudiandae autem praesentium nostrum necessitatibus 
        | cumque magnam magni quod illo dolorum tempora doloribus sequi accusamus.
      .footer-icons
        a(href="http://facebook.com" target="_blank")
          img(src="/assets/images/footer/facebook.png")
          i.fa.fa-facebook
        a(href="http://twitter.com" target="_blank")
          img(src="/assets/images/footer/twitter.png")
          i.fa.fa-twitter
        a(href="http://linkedin.com" target="_blank")
          img(src="/assets/images/footer/linkedin.png")
          i.fa.fa-linkedin
        a(href="http://github.com" target="_blank")
          img(src="/assets/images/footer/github.png")
          i.fa.fa-github