#header
  .navbar-wrapper.headroom
    nav.navbar.navbar-primary
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#responsive-navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img.navbar-logo(src="/assets/images/favicon.png" alt="Logo")
        #responsive-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a.btn.btn-default.btn-sm.hvr-underline-from-center.nav-btn(href="/") Home
            li.dropdown
              a.btn.btn-default.btn-sm.hvr-underline-from-center.dropdown-toggle.nav-btn(href="" data-toggle="dropdown" aria-expanded="false") Browse
               i.material-icons keyboard_arrow_down
              ul.dropdown-menu
                li
                  a(data-toggle="modal" data-target="#search-modal") Search
                li.divider
                li
                  a(href="/users") Users
                li
                  a(href="/projects") Projects
                li
                  a(href="/organizations") Organizations
            ul.dropdown-menu.dropdown-menu-right
              li
                a(href="/login") Login
                a(href="/register") Register
          ul.nav.navbar-nav.navbar-right
            if !result.user
              li
                a.btn.btn-default.btn-sm.login-btn(href="/account/login") Sign in
              li
                a.btn.btn-default.btn-sm.signup-btn(href="/account/register") Sign up
            else
              li.dropdown
                a.profile-link.dropdown-toggle(data-toggle="dropdown")
                  img.img-circle.img-responsive.header-profile-picture(src=result.user.image)
                  span #{result.user.firstName} #{result.user.lastName}
                  i.material-icons keyboard_arrow_down
                ul.dropdown-menu
                  li
                    a(href="/profile") Profile
                  li
                    a(href="/messaging") Messages
                  li.divider
                  li
                    a(href="/projects/myprojects") My projects
                  li
                    a(href="/projects/create") Create project
                  li.divider
                  li
                    a(href="/profile/settings") Settings
                  li
                    a(href="/account/logout") Sign Out