#header
  .navbar-wrapper.headroom
      nav.navbar.navbar-primary
          .container
              .navbar-header
                  button.navbar-toggle(type="button" data-toggle="collapse" data-target="#responsive-navbar")
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  a.navbar-brand(href="/")
                      img.navbar-logo(src="/assets/images/favicon.png" alt="Logo")
              #responsive-navbar.collapse.navbar-collapse
                  ul.nav.navbar-nav.navbar-left
                      li
                          a(href="/") Home
                      li.dropdown
                          a.dropdown-toggle(data-toggle="dropdown" aria-expanded="false") Browse
                      ul.dropdown-menu.dropdown-menu-right
                          li
                              a(href="/login") Login
                              a(href="/register") Register
                  ul.nav.navbar-nav.navbar-right