doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Home
        link(href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
        link(href="/stylesheets/main.css" rel="stylesheet")
    body
        #header
        .container
            .row.row-centered
                #content.col-sm-12.col-xs-12.col-md-12.col-lg-12.col-centered
                    block content
        #footer
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")