extends ../shared/_layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/users.css")

block content
  #users-container
    if users.length
      h3(style="flex: 1 0 100%") Users
      each user in users
        .user-container.col-md-3.col-lg-3.col-sm-6.col-xs-12
          .left-user-container
            img.profile-picture(src=user.image)
          .right-user-container
            h3
              big: a.user-link(href="/users/" + user._id)= user.username
              br
              small
                i.material-icons work
                span #{user.specialty}
              br
              small
                i.material-icons place
                span #{user.country}
    else
      h3 No users found.

block javascript